<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły ksiązki</title>
    <style>
        table, th, tr, td {border: 3px solid black; text-align: center;}
        h2 {text-align: center; color: blue;}
    </style>
</head>
<body>
    <h2> Zmień: </h2>
    <form method="POST" action="/books/{{ book_id }}/">
        {{ form.hidden_tag() }}
        <div align="center">
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" class='btn btn-primary' 
                    style="height:30px;width:50px;background-color:antiquewhite">GO!</button>
        </div>
    </form>
</body>
</html>